@font-face {
    font-family: "Volkhov-Bold";
    src: url(../css/fonts/Volkhov-Bold.ttf);
}

@font-face {
    font-family: "Manrope-Bold";
    src: url(../css/fonts/Manrope-Bold.ttf);
}

@font-face {
    font-family: "Manrope-Regular";
    src: url(../css/fonts/Manrope-Regular.ttf);
}

@font-face {
    font-family: "Manrope-SemiBold";
    src: url(../css/fonts/Manrope-SemiBold.ttf);
}

button a {
    font-family: "Manrope-SemiBold" !important;
}

.btn a {
    font-family: "Manrope-SemiBold" !important;
}

.green-bg {
    background-color: rgba(70, 168, 34, 1) !important;
    color: white !important;
}

input:focus {
    outline: none !important;
}

.form-control {
    box-shadow: none !important;
}

.tab-button {
    border: 0;
    background-color: transparent !important;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.12);
}

.tab-button.active {
    border: 1px solid rgba(70, 168, 34, 1);
    background-color: transparent !important;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.12);
}


.content {
    display: none;
}

.content.active {
    display: block;
}

.green-text {
    color: rgba(70, 168, 34, 1);
}

.green-radial {
    background: radial-gradient(circle, rgba(70, 168, 34, 0.089) 0%, rgba(255, 255, 255, 0.377) 80%);
}

.bg-hero {
    background-image: url(../images/bg/hero-bg.png);
    background-position: left;
    background-size: 60% 100%;
    background-repeat: no-repeat;
}

a {
    text-decoration: none !important;

}

p {
    font-family: "Manrope-Regular";
    font-size: 18px !important;
    color: black !important;
    line-height: 160% !important;
}

h1 {
    font-family: "Volkhov-Bold";
    line-height: 130% !important;
}

h2 {
    font-family: "Manrope-Regular";
    line-height: 150% !important;

}


h3 {
    font-family: "Manrope-Bold";
    line-height: 44px !important;
}

h4 {
    font-family: "Manrope-Bold";
    line-height: 25px !important;
}

h5 {
    font-family: "Manrope-SemiBold";
    line-height: 44px !important;
}

h6 {
    font-family: "Manrope-Bold";
    line-height: 44px !important;
}

.owl-carousel.owl-drag .owl-item:hover {
    transform: scale(1.2);
    transform-origin: 50% 50%;
    transition: 0.4s;
}

/*-----------------Strat Hero Section---------------------*/

.row-h {
    height: auto;
}

/*-----------------End Hero Section---------------------*/

/*----------------------Businesses growing Section Start-------------------------*/
.slider-color {
    background-color: #F8F8F8;
}

.home-demo {
    display: flex;
    align-items: center;
}

.home-demo .item {
    height: 100px;
    width: 100%;
    display: table-cell;
    float: none;
    vertical-align: middle;

}

.home-demo img {
    text-align: center;
    padding: 1rem 0;
    margin: 0;

}

/*----------------------Businesses growing Section End-------------------------*/
/*---------------------what is fajira section start---------------------------*/
.waht-fajira-icon {
    height: 70px;
    width: 70px;
}

.bg-whatfajira {
    background-image: url(../images/bg/what-fajira.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

/*---------------------what is fajira section End---------------------------*/
/*---------------------Our Unrivalled Features Section Start ---------------*/
.unrivalled-features-card {
    background: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.09);
    border-radius: 8px;
    padding: 20px;
    display: table-cell;
}

.col-4-feacture {
    width: 33% !important;
}

.bg-Features {
    background-image: url(../images/bg/bg-Features.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

/*---------------------Our Unrivalled Features Section end ---------------*/
/*--------------------- back fajira Section Start ---------------*/
.card-1 {
    position: relative;
    background-color: white;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: none !important;
    padding: 10px 0px 10px 30px;
    margin-bottom: 40px;
}

.bg-fajira-back {
    background-image: url(../images/bg/fajiraback.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.card-1::after {
    content: "";
    position: absolute;
    border: 1px solid rgba(225, 145, 57, 1);
    border-radius: 4px;
}

.card-1::after {
    bottom: -1rem;
    left: -1rem;
    right: 1rem;
    top: 1rem;
    z-index: -1;

}

.card-2 {
    position: relative;
    background-color: white;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: none !important;
    padding: 10px 0px 10px 30px;
    margin-bottom: 40px;
}

.card-2::after {
    content: "";
    position: absolute;
    border: 1px solid rgba(118, 192, 67, 1);
    border-radius: 4px;
}

.card-2::after {
    bottom: -1rem;
    left: -1rem;
    right: 1rem;
    top: 1rem;
    z-index: -1;

}


.card-3 {
    position: relative;
    background-color: white;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: none !important;
    padding: 10px 0px 10px 30px;
    margin-bottom: 40px;
}

.card-3::after {
    content: "";
    position: absolute;
    border: 1px solid rgba(252, 103, 92, 1);
    border-radius: 4px;
}

.card-3::after {
    bottom: -1rem;
    left: -1rem;
    right: 1rem;
    top: 1rem;
    z-index: -1;

}

/*--------------------- back fajira Section end --------------------*/

/*--------------------- Integrations-Section-start -----------------*/
.bg-Integrations {
    background-image: url(../images/bg/Integrations.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

/*---------------------- Integrations-Section-end ------------------*/

/*---------------------fajira product Section  start ---------------*/
/* .tabs-lg-img {
    width: 200px !important;
    height: 210px !important;
} */

.bg-product {
    background-image: url(../images/bg/bg-product.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}


.binof-btn-demo {
    border: 1px solid rgba(30, 120, 255, 1);
    background-color: transparent;
    padding: 20px 45px;
    border-radius: 10px;
}

.binof-btn-learn {
    padding: 20px 45px;
    border-radius: 10px;
    background-color: rgba(30, 120, 255, 1);
    border: 1px solid rgba(30, 120, 255, 1);
}

.pos-btn-demo {
    border: 1px solid rgba(239, 71, 93, 1);
    background-color: transparent;
    padding: 20px 45px;
    border-radius: 10px;
}

.para {
    color: rgba(186, 186, 186, 1) !important;
}

.pos-btn-learn {
    padding: 20px 45px;
    border-radius: 10px;
    background-color: rgba(239, 71, 93, 1);
    border: 1px solid rgba(239, 71, 93, 1);
}

.fajira-btn-demo {
    border: 1px solid rgba(118, 192, 67, 1);
    background-color: transparent;
    padding: 20px 45px;
    border-radius: 10px;
}

.fajira-btn-learn {
    padding: 20px 45px;
    border-radius: 10px;
    background-color: rgba(118, 192, 67, 1);
    border: 1px solid rgba(118, 192, 67, 1);
}

.para-align {
    padding-inline: 18%;
}

.beas-btn-demo {
    border: 1px solid rgba(255, 99, 67, 1);
    background-color: transparent;
    padding: 20px 45px;
    border-radius: 10px;
}

.beas-btn-learn {
    padding: 20px 45px;
    border-radius: 10px;
    background-color: rgba(255, 99, 67, 1);
    border: 1px solid rgba(255, 99, 67, 1);
}

.s-img-tabs {
    width: 100px !important;
    height: 90px !important;
}

.btn {
    border-radius: 10px !important;
    padding: 14px 38px !important;
    font-size: 14px !important;
    font-family: "Manrope-SemiBold" !important;
}


/*---------------------fajira product Section end ---------------*/

/*---------------Subscribe Newsletter Section start -------------*/
.bg-subscribe {
    background-image: url(../images/subscribe/subscribe.png);
    background-color: rgba(70, 168, 34, 1);
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 90px 15px 15px 15px;
}

.row-suscribe {
    height: 40vh;
}

.Subscribe-btn {
    background-color: transparent;
    border-radius: 7px;
    border: 1px solid white;
    color: white;
    padding: 13px 30px;
}

.input-sus {
    padding: 13px 20px;
    border-radius: 7px;
    border: none;
    width: 40%;
}

::placeholder {
    color: rgba(148, 148, 148, 1) !important;
}

.gray-bg {
    background-color: rgba(248, 248, 248, 1);
}

/*--------------Subscribe Newsletter Section end ----------------*/


/*----------------Cross-Platform Potentia-start -------------------*/
.bg-Unleash {
    background-image: url(../images/bg/bg-Unleash.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

/*----------------Cross-Platform Potentia-end -------------------*/

/*--------------------fajira-Businesses-start -------------------*/
.bg-fajira-Businesses {
    background-image: url(../images/bg/bg-Businesses.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

/*--------------------fajira-Businesses-end ---------------------*/


/* --------------------toltip-start --------------------- */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

[data-tooltip]:before {
    position: absolute;
    bottom: 80%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 20px;
    width: 120px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background-color: rgba(70, 168, 34, 0.699);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bolder;
    border-radius: 20px;
}

[data-tooltip]:after {
    position: absolute;
    bottom: 79%;
    left: 45%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid rgba(70, 168, 34, 0.705);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

/* --------------------toltip-end --------------------- */

/* --------------------All of Your Needs-start --------------------- */
.card-solution {
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.05);
}

.apps-icons {
    width: 100px;
    height: 100px;
}

/* --------------------All of Your Needs-end --------------------- */

/* --------------------Our Support Team -end --------------------- */
.card-team {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 25px 0px;
}

/* --------------------Our Support Team-end --------------------- */

ul li:hover {
    background-color: #ddd;
    border-top-color: blue;
    color: blue;
}

.b-tab {
    display: none;
}

.b-tab.active {
    display: block;
}

.b-nav-tab {
    display: inline-block;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.07);
}

.b-nav-tab.active {
    border: 1px solid #46A822;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
}


.graay-bg {
    background: #F8F8F8;
}

/* faqs-page */
.accordion-item {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.accordion-button {
    font-size: 18px !important;
}

/* faqs-page */

@media only screen and (min-width: 1024px) {
    .sm {
        display: none !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {}

@media only screen and (min-width: 960px) and (max-width: 1023px) {}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .lg {
        display: none !important;
    }

    .mega-menu {
        top: 75px !important;
    }

    .col-4-feacture {
        width: 80% !important;
        margin: 20px 0px;
    }

    .para-align {
        padding-inline: 0%;
    }
}

@media only screen and (min-width: 540px) and (max-width: 720px) {
    .lg {
        display: none !important;
    }

    .mega-menu {
        top: 75px !important;
    }

    .col-4-feacture {
        width: 80% !important;
        margin: 20px 0px;
    }

    .para-align {
        padding-inline: 0%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .lg {
        display: none !important;
    }

    .mega-menu {
        top: 75px !important;
    }

    .col-4-feacture {
        width: 100% !important;
        margin: 20px 0px;
    }

    .card-1 {
        padding: 10px 0px 10px 10px !important;
    }

    .card-2 {
        padding: 10px 0px 10px 10px !important;
    }

    .card-3 {
        padding: 10px 0px 10px 10px !important;
    }

    .fajira-btn-demo {
        padding: 20px !important;
    }

    .fajira-btn-learn {
        padding: 20px !important;
    }

    .beas-btn-demo {
        padding: 20px !important;
    }

    .beas-btn-learn {
        padding: 20px !important;
    }

    .binof-btn-demo {
        padding: 20px !important;
    }

    .binof-btn-learn {
        padding: 20px !important;
    }

    .pos-btn-demo {
        padding: 20px !important;
    }

    .pos-btn-learn {
        padding: 20px !important;
    }

    .s-img-tabs {
        background: #FFFFFF;
        border: 2px solid #EEEEEE;
        box-shadow: 2px 8.49px 17.493px rgba(0, 0, 0, 0.08);
        border-radius: 12.495px;
        padding: 12px;
        width: 80px !important;
        height: 80px !important;
    }

    .para-align {
        padding-inline: 0%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .lg {
        display: none !important;
    }

    .mega-menu {
        top: 75px !important;
    }

    .col-4-feacture {
        width: 100% !important;
        margin: 20px 0px;
    }

    .card-1 {
        padding: 10px 0px 10px 10px !important;
    }

    .card-2 {
        padding: 10px 0px 10px 10px !important;
    }

    .card-3 {
        padding: 10px 0px 10px 10px !important;
    }

    .fajira-btn-demo {
        padding: 20px !important;
    }

    .fajira-btn-learn {
        padding: 20px !important;
    }

    .beas-btn-demo {
        padding: 20px !important;
    }

    .beas-btn-learn {
        padding: 20px !important;
    }

    .binof-btn-demo {
        padding: 20px !important;
    }

    .binof-btn-learn {
        padding: 20px !important;
    }

    .pos-btn-demo {
        padding: 20px !important;
    }

    .pos-btn-learn {
        padding: 20px !important;
    }

    .s-img-tabs {
        background: #FFFFFF;
        border: 2px solid #EEEEEE;
        box-shadow: 2px 8.49px 17.493px rgba(0, 0, 0, 0.08);
        border-radius: 12.495px;
        padding: 12px;
        width: 80px !important;
        height: 80px !important;
    }

    .para-align {
        padding-inline: 0%;
    }
}